.app__products {
  width: 70%;
  margin: 10px auto;
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(3, 1fr);
}

@media only screen and (max-width: 1200px) {
  .app__products {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 800px) {
  .app__products {
    grid-template-columns: repeat(1, 1fr);
  }
}
