.app__header {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 0px 10px;
  display: flex;
  align-items: center;
}

.app__header__logo {
  width: 100px;
  height: 40px;
}

.app__header__search {
  display: flex;
  flex: 1;
  margin: 0 10px;
}

.app__header__search__field {
  padding: 5px;
  width: 100%;
}

.app__header__search__icon {
  background-color: chocolate;
  padding: 5px;
  cursor: pointer;
}

.app__header__buttons {
  display: flex;
  margin-right: 20px;
  align-items: center;
}

.app__header__buttons__links {
  text-decoration: none;
  color: white !important;
}

.app__header__buttons__links__button {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0px 20px;
  font-weight: 800;
  position: relative;
}

.app__header__buttons__links__collapsebar {
  padding: 7px;
  border: 1px solid #fff;
}

.app__header__buttons__links__button__upperspan {
  font-size: 13px;
}

.app__header__buttons__links__button__lowerspan {
  font-size: 16px;
}

.app__header__buttons__links__button__count {
  top: -22px;
  left: -1px;
  position: absolute;
  color: red;
}
.app__header__buttons__links__button__basket {
  top: -8px;
  left: -8px;
  position: absolute;
}

.menuLeft {
  top: 0;
  left: 0;
  position: fixed;
  width: 70%;
  height: 100vh;
  background-color: #ffffff;
}

.menuRight {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #d3d3d3;
}

@media only screen and (max-width: 700px) {
  .app__header__logo {
    width: 60px;
    height: 35px;
  }
}
